# This is a basic workflow to help you get started with Actions

name: Auto-Update

# Controls when the workflow will run
on:
  schedule:
    # 每日8时开始
    - cron:  '0 */8 * * *'
  
  
  push:
    branches:
    - master
    paths-ignore: 
      - 'README.md'
      - 'LICENSE'


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: szenius/set-timezone@v1.0
        with:
          timezoneLinux: "Asia/Hong_Kong"

      - name: Install requirements
        run: pip3 install -r factory/requirements.txt

      - name: Run auto-build.sh
        run: ./factory/auto_build.sh

      
      # Use auto add and commit
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Daily update
